# Adopt version 2 syntax:
#   https://docs.docker.com/compose/compose-file/#/versioning
version: '2'

volumes:
    database_data:
        driver: local

services:
###########################
# Setup the Nginx container
###########################
    nginx:
        container_name: nginx-local
        image: daocloud.io/library/nginx:latest
        ports:
            - 8090:80
        volumes:
            - ./docker/nginx/:/etc/nginx/conf.d/:ro
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
        volumes_from:
            - php
        networks:
          web:
            ipv4_address: 172.16.238.2
###########################
# Setup the PHP container
###########################
    php:
        container_name: php-local
        build: ./docker/php/7.2
        expose:
            - 9000
        volumes:
            - /Users/apple/data/code/php:/var/www/html:rw
        networks:
          web:
            ipv4_address: 172.16.238.3
###########################
# Setup the Database (MySQL) container
###########################
    mysql:
        container_name: mysql-local
        image: mysql:5.7
        ports:
            - 3306:3306
        expose:
            - 3306
        volumes:
            - database_data:/var/lib/mysql
        environment:
            MYSQL_ROOT_PASSWORD: secret
            MYSQL_DATABASE: project
            MYSQL_USER: project
            MYSQL_PASSWORD: project
        networks:
          web:
            ipv4_address: 172.16.238.4

# Setup Network
###########################   
networks:
  web:
    driver: bridge
    ipam:
      config:
        -
          subnet: 172.16.238.0/24
